<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,400}</string>
                <key>spriteSourceSize</key>
                <string>{650,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,400}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>650 400 0 400 0 0 650 0</string>
                <key>verticesUV</key>
                <string>651 401 1 401 1 1 651 1</string>
            </dict>
            <key>sprite copy 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
            <key>sprite copy 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
            <key>sprite copy 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
            <key>sprite copy 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
            <key>sprite copy 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
            <key>sprite copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
            <key>sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>52 38 0 38 0 0 52 0</string>
                <key>verticesUV</key>
                <string>653 53 653 1 691 1 691 53</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{692,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077d84bf94890577065f5323974d4a66:dd366f1122dad446c4e695a85ef59706:54715b2dc2122eee15174c4eee7bb98f$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
